@model IEnumerable<BenimsiteMvc.Models.Duyuru>

@{
    ViewData["Title"] = "Duyurular";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Yeni Kayıt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icerik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayimTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayimTarihi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Gör</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
